{% extends "astrography/app_base.html" %}

{% block content %}

<table>
  <tr>
    <td>Name:</td>
    <td>{{star_system.name}}</td>
  </tr>
  <tr>
    <td>Coordinates:</td>
    <td>{{star_system.location_x}}, {{star_system.location_y}}</td>
  </tr>
  <tr>
    <td>Faction:</td>
    <td>{{star_system.faction.name}}</td>
  </tr>
  <tr>
    <td>Planets:</td>
  </tr>
  {% for planet in planets %}
    <tr>
      <td></td>
      <td><a href="{% url mercs.astrography.planet planet.id %}">{{planet.name}}</a></td>
    </tr>
  {% endfor %}
</table>

{% endblock %}


