{% extends "finances/app_base.html" %}

{% block content %}

<table cellpadding="4">
<tr>
  <th>Date</th>
  <th>Value</th>  
  <th>Note</th>
  <th>Invoice</th>
</tr>

{% for entry in transactions %}

  <tr>
    <td>{{ entry.date.isoformat }}</td>
    <td>{{ entry.value }}</td>
    <td>{{ entry.note }}</td>
    {% if entry.invoice %}
      <td><a href="/finances/invoice/{{ entry.invoice.id }}">#{{ entry.invoice.id }}</a></td>
    {% else %}
      <td></td>
    {% endif %}
  </tr>

{% endfor %}

  <tr>
    <td>Balance</td>
    <td>{{ balance }}</td>
    <td colspan="2"></td>
  </tr>

</table>

{% endblock %}

{% block sidebar %}

<a href="/finances/reports/{{force.id}}">Reports</a>

{% endblock %}
