{% extends "personnel/app_base.html" %}

{% block content %}

<table cellpadding="4">
<tr>
  <th>Position</th>
  <th>Name</th>  
  <th>Skill level</th>
  <th>Rank</th>
  <th>Salary</th>
  <th>Team</th>
</tr>

{% for entry in force_personnel %}

  <tr>
    <td>{{ entry.0 }}</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>

  {% for person in entry.1 %}
    <tr>
      <td></td>
      <td><a href="/personnel/person/{{ person.id }}">{{ person.person_name }}</a></td>
      <td>{{ person.skill_level }}</td>
      <td>{{ person.rank }}</td>
      <td>{{ person.get_salary }}</td>
      <td><a href="/personnel/team/{{ person.team.id }}">{{ person.team.team_name }}</a></td>
    </tr>

  {% endfor %}

  <tr>
    <td colspan="3"></td>
    <td>Sub-Total</td>
    <td>{{ entry.2 }}</td>
    <td></td>
  </tr>

{% endfor %}

  <tr>
    <td colspan="3"></td>
    <td>Total</td>
    <td>{{ total_salary }}</td>
    <td></td>
  </tr>

</table>

{% endblock %}
