<table>
<tr>
  <th>Position</th>
  <th>Name</th>  
  <th>Skill level</th>
  <th>Rank</th>
  <th>Salary</th>
</tr>

{% for entry in force_personnel %}

  <tr>
    <td>{{ entry.0 }}</td>
  </tr>

  {% for person in entry.1 %}
    <tr>
      <td></td>
      <td><a href="/personnel/person/{{ person.id }}">{{ person.person_name }}</a></td>
      <td>{{ person.skill_level }}</td>
      <td>{{ person.rank }}</td>
      <td>{{ person.get_salary }}</td>
    </tr>

  {% endfor %}

{% endfor %}

</table>

