{% extends "personnel/app_base.html" %}

{% block content %}

<div id="main_sub">
<table>
<tr>
  <th></th>
  <th></th>
</tr>

<tr>
  <td>Name:</td>
  <td>{{ person.person_name }}</td>
</tr>
<tr>
  <td>Position:</td>
  <td>{{ person.position }}</td>
</tr>
<tr>
  <td>Skill level:</td>
  <td>{{ person.skill_level }}</td>
</tr>

{% for skill in person.skill_set.all %}
  <tr>
    <td>{{ skill.skill_definition.skill_name }}:</td>
    <td>{{ skill.skill_score }}</td>
  </tr>
{% endfor %}

<tr>
  <td>Rank:</td>
  <td>{{ person.rank }}</td>
</tr>
<tr>
  <td>Salary:</td>
  <td>{{ person.get_salary }}</td>
</tr>
<tr>
  <td>Team:</td>
  <td><a href="">{{ person.team.team_name }}</a></td>
</tr>
<tr>
  <td>Location:</td>
  {% if person.location %}
    <td><a href="{% url mercs.astrography.planet person.location.id %}">{{ person.location.name }}</a></td>
  {% else %}
    <td></td>
  {% endif %}
</tr>
</table>
</div>

<div id="main_sub">
<img src="/media/{{person.image}}" alt="{{person.person_name}}">
</div>

<div id="clear_float"></div>

{% endblock %}

{% block sidebar %}
<a href="">Fire</a><br>
<a href="">Promote</a><br>
{% endblock %}

