{% extends "personnel/app_base.html" %}

{% block content %}

<table>
<tr>
  <th></th>
  <th></th>
</tr>

<tr>
  <td>Name:</td>
  <td>{{ person.person_name }}</td>
</tr>
<tr>
  <td>Position:</td>
  <td>{{ person.position }}</td>
</tr>
<tr>
  <td>Skill level:</td>
  <td>{{ person.skill_level }}</td>
</tr>

{% for skill in person.skill_set.all %}
  <tr>
    <td>{{ skill.skill_definition.skill_name }}</td>
    <td>{{ skill.skill_score }}</td>
  </tr>
{% endfor %}

<tr>
  <td>Rank:</td>
  <td>{{ person.rank }}</td>
</tr>
<tr>
  <td>Salary:</td>
  <td>{{ person.get_salary }}</td>
</tr>
<tr>
  <td>Team:</td>
  <td><a href="/personnel/team/{{ person.maintenance_team.id }}">{{ person.maintenance_team.team_name }}</a></td>
</tr>

</table>

{% endblock %}

{% block sidebar %}
<a href="/personnel/person/fire/{{ person.id }}">Fire</a><br>
<a href="/personnel/person/promote/{{ person.id }}">Promote</a><br>
{% endblock %}
