{% extends "armoury/app_base.html" %}

{% block content %}

<table cellpadding="4">
<tr>
  <th>Type</th>
  <th>Name</th>
  <th>Weight</th>
  <th>Minutes/d</th>
</tr>

{% for entry in force_vehicles %}

  <tr>
    <td>{{ entry.0 }}</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>

  {% for vehicle in entry.1 %}
    <tr>
      <td></td>
      <td><a href="/armoury/vehicle/{{ vehicle.id }}">{{ vehicle.vehicle_name }}</a></td>
      <td>{{ vehicle.vehicle_weight }}</td>
      <td>{{ vehicle.maintenance }}</td>
    </tr>

  {% endfor %}

  <tr>
    <td colspan="3"></td>
    <td>{{ entry.2 }}</td>
    <td>{{ entry.3 }}</td>
  </tr>

{% endfor %}

  <tr>
    <td colspan="3"></td>
    <td>{{ maintenance }}</td>
  </tr>

</table>

{% endblock %}
