{% extends "armoury/app_base.html" %}

{% block content %}

<table cellpadding="4">
<tr>
  <th>Type</th>
  <th>Name</th>
  <th>Weight</th>
  <th>Minutes/d</th>
  <th>Location</th>
</tr>

{% for entry in force_vehicles %}

  <tr>
    <td>{{ entry.0 }}</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>

  {% for vehicle in entry.1 %}
    <tr>
      <td></td>
      <td><a href="{% url mercs.armoury.vehicle vehicle.id %}">{{ vehicle.vehicle_name }}</a></td>
      <td>{{ vehicle.vehicle_weight }}</td>
      <td>{{ vehicle.maintenance }}</td>
      {% if vehicle.location %}
        <td><a href="{% url mercs.astrography.planet vehicle.location.id %}">{{ vehicle.location.name }}</a></td>
      {% else %}
        <td></td>
      {% endif %}
    </tr>

  {% endfor %}

  <tr>
    <td colspan="3"></td>
    <td>{{ entry.2 }}</td>
    <td>{{ entry.3 }}</td>
    <td></td>
  </tr>

{% endfor %}

  <tr>
    <td colspan="3"></td>
    <td>{{ maintenance }}</td>
    <td></td>
  </tr>

</table>

{% endblock %}
