{% extends "armoury/app_base.html" %}

{% block content %}

{% if confirmed %}
  <p>Vehicle has been sold for price of {{ price }}</p>
{% else %}
  <p>Are you sure you want to sell for price of {{ price }}?</p>
  <p><a href="/armoury/vehicle/sell/{{ vehicle.id }}/confirmed">Yes</a></p>
{% endif %}

<table>
<tr>
  <th></th>
  <th></th>
</tr>

<tr>
  <td>Name:</td>
  <td>{{ vehicle.vehicle_name }}</td>
</tr>
<tr>
  <td>Owner:</td>
  <td>{{ vehicle.owner }}</td>
</tr>
<tr>
  <td>Type:</td>
  <td>{{ weight_class.weight_class }} {{ vehicle.vehicle_type }}</td>
</tr>
<tr>
  <td>Weight:</td>
  <td>{{ vehicle.vehicle_weight }}</td>
</tr>
<tr>
  <td>Maintenance/d:</td>
  <td>{{ vehicle.maintenance }} minutes</td>
</tr>
<tr>
  <td>Location:</td>
  {% if vehicle.location %}
    <td><a href="/astrography/planet/{{ vehicle.location.id }}">{{ vehicle.location.name }}</a></td>
  {% else %}
    <td></td>
  {% endif %}
</tr>

</table>

{% endblock %}


