{% extends "armoury/app_base.html" %}

{% block html_head %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script src={{STATIC_URL}}raptor.js></script>

<script>

function doBoxes() {
{% for data in installations %}
  {% for item in data.1 %}
      {% if item.max_slots %}
        raptor.generateBoxes({{item.max_slots}},{{item.working_slots}}, $("#hp_container_{{item.id}}"));
      {% else %}
        raptor.generateBoxes({{item.equipment.slots}},{{item.working_slots}}, $("#hp_container_{{item.id}}"));
      {% endif %}
  {% endfor %}
{% endfor %}
}

$(window).load(doBoxes);
</script>

{% endblock %}

{% block content %}

<table>
<tr>
  <th></th>
  <th></th>
</tr>

<tr>
  <td>Name:</td>
  <td>{{ vehicle.vehicle_name }}</td>
</tr>
<tr>
  <td>Owner:</td>
  {% if vehicle.owner %}
    <td><a href="">{{vehicle.owner.force_name}}</a></td>
  {% else %}
    <td></td>
  {% endif %}
</tr>
<tr>
  <td>Type:</td>
  <td>{{ weight_class.weight_class }} {{ vehicle.vehicle_type }}</td>
</tr>
<tr>
  <td>Weight:</td>
  <td>{{ vehicle.vehicle_weight }}</td>
</tr>
<tr>
  <td>Condition:</td>
  <td>{{ vehicle.quality_rating.rating_name }}</td>
</tr>
<tr>
  <td>Maintenance:</td>
  <td>{{ vehicle.maintenance }} minutes</td>
</tr>
<tr>
  <td>Location:</td>
  {% if vehicle.location %}
    <td><a href="{% url mercs.astrography.planet vehicle.location.id %}">{{ vehicle.location.name }}</a></td>
  {% else %}
    <td></td>
  {% endif %}
</tr>
<tr>
  <td>Components:</td>
</tr>
</table>

{% for data in installations %}
  {% if forloop.counter0|divisibleby:3 %}
    <div id="clear_float" />
    <div id="main_sub">
  {% else %}
    <div id="main_sub">
  {% endif %}
<table>
  <tr>
    <th>{{data.0.name}}</th>
  </tr>
  {% for item in data.1 %}
    <tr>
      <td>{{item.equipment.name}}</td>
      <td><div id="hp_container_{{item.id}}"></div></td>
    </tr>
  {% endfor %}
</table>
</div>
{% endfor %}
<div id="clear_float" />

</tr>
</table>



{% endblock %}

{% block sidebar %}
<a href="{% url mercs.armoury.sell_vehicle vehicle.id %}">Sell</a><br>
<a href="">Schedule for repair</a>
{% endblock %}

