{% extends "armoury/app_base.html" %}

{% block content %}

<table>
<tr>
  <th></th>
  <th></th>
</tr>

<tr>
  <td>Name:</td>
  <td>{{ vehicle.vehicle_name }}</td>
</tr>
<tr>
  <td>Owner:</td>
  {% if vehicle.owner %}
    <td><a href="/armoury/{{vehicle.owner.id}}">{{vehicle.owner.force_name}}</a></td>
  {% else %}
    <td></td>
  {% endif %}
</tr>
<tr>
  <td>Type:</td>
  <td>{{ weight_class.weight_class }} {{ vehicle.vehicle_type }}</td>
</tr>
<tr>
  <td>Weight:</td>
  <td>{{ vehicle.vehicle_weight }}</td>
</tr>
<tr>
  <td>Condition:</td>
  <td>{{ vehicle.quality_rating.rating_name }}</td>
</tr>
<tr>
  <td>Maintenance/d:</td>
  <td>{{ vehicle.maintenance }} minutes</td>
</tr>
<tr>
  <td>Location:</td>
  {% if vehicle.location %}
    <td><a href="/astrography/planet/{{ vehicle.location.id }}">{{ vehicle.location.name }}</a></td>
  {% else %}
    <td></td>
  {% endif %}
</tr>

</table>

{% endblock %}

{% block sidebar %}
<a href="/armoury/vehicle/sell/{{ vehicle.id }}">Sell</a><br>
<a href="/armoury/vehicle/repair/{{ vehicle.id }}">Schedule for repair</a>
{% endblock %}
