{% extends "gm/app_base.html" %}
{% load staticfiles %}

{% block content %}

<table id="log_table">
<tr>
  <th></th><th></th><th></th>
</tr>

{% for entry in log %}

<tr>
  <td>{{entry.entry_date.isoformat}}</td>
  <td>{{entry.text}}</td>
</tr>

{% endfor %}

</table>

<script type="application/dart" src={% static "gm.dart" %}></script>
<script src={% static "dart.js" %}></script>

{% endblock %}

{% block sidebar %}

<a href="xxx">&lt;&lt;</a>&nbsp;&nbsp;
<a href="xxx">today</a>&nbsp;&nbsp;
<a href="xxx">&gt;&gt;</a>

{% endblock %}

