{% extends "gm/app_base.html" %}
{% load staticfiles %}

{% block content %}

<table id="log_table">
<tr>
  <th></th><th></th><th></th>
</tr>

{% for entry in log %}

<tr>
  <td>{{entry.entry_date.isoformat}}</td>
  <td>{{entry.text}}</td>
</tr>

{% endfor %}

</table>

<script type="application/dart" src={% static "gm.dart" %}></script>
<script src={% static "dart.js" %}></script>

{% endblock %}

{% block sidebar %}

<a href="{% url mercs.gm.log.archive year=yesterday.year, month=yesterday.month, day=yesterday.day %}" id="yesterday">&lt;&lt;</a>&nbsp;&nbsp;
<a href="{% url mercs.gm.log.archive year=current_date.year, month=current_date.month, day=current_date.day %}" id="today">today</a>&nbsp;&nbsp;
<a href="{% url mercs.gm.log.archive year=tomorrow.year, month=tomorrow.month, day=tomorrow.day %}" id="tomorrow">&gt;&gt;</a>

{% endblock %}

